@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Shared styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1414px;
  margin: auto;
}
.btn-primary {
  margin-left: 125px;
  padding: 16px 59px 17px 25px;
  font-weight: 500;
  font-size: 1.25rem;
  background-color: #dd0000;
  color: white;
  border: none;
  border-radius: 5px;
}
.btn-secondary {
  background-color: #ffffff;
  padding: 17px 39px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.25rem;
  color: #161616;
}

/* banner styles */
.banner {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 30px;
  margin: 80px auto;
}
.banner-left h2 {
  font-size: 4.375rem;
  font-weight: bold;
  margin-left: 125px;
  line-height: 70px;
}
.banner-left p {
  margin: 20px 125px;
  max-width: 60%;
}

.banner-right img {
  display: block;
}
/* main styles */
#blog {
  background-color: #dd0000;
  border-radius: 10px;
  padding: 17px 93px 17px 114px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
#all-group {
  padding: 17px 69px 17px 90px;
  color: #161616;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  background-color: #ffffff;
}
.upcoming-matches-container {
  display: flex;
  gap: 55px;
}
.upcoming-matches-left {
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  width: 25%;
  height: fit-content;
}
.upcoming--matches-right {
  flex: 1;
}
.card-body {
  padding: 20px;
}
.card img {
  height: 175px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.card button {
  border-radius: 5px;
  border: 1px solid black;
  padding: 4px 16px 4px 17px;
  background-color: #ffffff;
  margin-top: 20px;
}
.card p {
  font-size: 18px;
  font-weight: 600;
  color: #161616;
  padding-top: 15px;
  padding-bottom: 20px;
}
.card-bottom {
  display: flex;
  gap: 41px;
}
@media screen and (max-width: 576px) {
  .banner,
  .banner-left,
  .banner-right img {
    flex-direction: column;
  }
}
